@model KnxProject_Franco.Models.NewsModel
@{
    ViewBag.Title = "News";
}

<h2>News</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section="News">
        <div class="jumbotron col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" }))
                <h4>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </h4>
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                <h4>
                    @Html.TextAreaFor(model => model.Body)
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </h4>
            </div>
        </div>     
    </section="News">
}

