@model KnxProject_Franco.CONTRACTS.Entities.CourtCaseModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CourtCaseModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCurrentState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCurrentState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCourtBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCourtBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDLawyer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDLawyer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCourtCase }) |
    @Html.ActionLink("Back to List", "Index")
</p>
