@model IEnumerable<KnxProject_Franco.CONTRACTS.Entities.CourtBranchModel>

@{
    ViewBag.Title = "Ramas judiciales";
}

<div id="Branches" class="fh5co-features-style-1"  data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container" style="z-index: 3; position: relative;">
        <div class="row p-b">
            <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <h2 class="fh5co-heading">Nuestras áreas de alcance</h2>
            </div>

        </div>
        <div class="row">
            <div class="fh5co-features">
                @foreach (var cb in Model)
                {
                    <div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
                        <div class="icon"><i class="icon-ribbon"></i></div>
                        <h3>@cb.Name</h3>
                        <p>@cb.Description</p>
                        @if ((WebSecurity.IsAuthenticated) && (Roles.IsUserInRole("secretary")))
	                    {
                        @Html.ActionLink("Editar", "Edit", new { id = cb.IDCourtBranch }) 
                        @Html.ActionLink("Eliminar", "Delete", new { id = cb.IDCourtBranch })
	                    }                  
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
