@model KnxProject_Franco.Models.QAModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QAModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourtCaseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtCaseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourtCaseDetailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourtCaseDetailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Query)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Query)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AswerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AswerDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
