@model KnxProject_Franco.CONTRACTS.Entities.QAModel

@{
    ViewBag.Title = "Answer";
}

<h2>Answer</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()


    //aca tira un error de instancia nula en ejecución
    <div class="form-horizontal">
        <h4>QAModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="IDCourtCase" value="@ViewBag.CourtCase.IDCourtCase" />
        <input type="hidden" name="IDCourtCaseDetail" value="@ViewBag.CourtCaseDetail.IDCourtCaseDetail " />
        <input type="hidden" name="IDLawyer" value="@ViewBag.Lawyer.IDLawyer" />
        <input type="hidden" name="IDClient" value="@ViewBag.Client.IDClient" />
        <input type="hidden" name="IDQA" value="@Model.IDQA" />
        <div class="fh5co-testimonial-style-2">
            <div class="container">
                <div class="row p-b">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Responde a la consulta</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                            <div class="fh5co-name">
                                <img src="~/Content/img/Clients/@ViewBag.Client.ImageName" alt="">
                                <div class="fh5co-meta">
                                    <h3>
                                        @ViewBag.Client.FirstName @ViewBag.Client.LastName
                                    </h3>
                                    <span class="fh5co-company">Fecha de consulta: @Model.SendDate</span>
                                </div>
                            </div>
                            <div class="fh5co-text">
                                <p style="font-family:Merriweather, Times, serif !important">Consulta:</p>
                                <p style="font-family:Merriweather, Times, serif !important">&ldquo;@Model.Query&rdquo;</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Contestar" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
