@model KnxProject_Franco.CONTRACTS.Entities.QAModel

@{
    ViewBag.Title = "AnswerAnonymous";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="fh5co-testimonial-style-2" style="background-color:dimgrey !important;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="IDQA" value="@Model.IDQA" />
        <input type="hidden" name="Mail" value="@Model.Mail" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <input type="hidden" name="Topic" value="@Model.Topic" />
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Responde a la consulta</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hr />
                    <div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
                        <div class="row">
                            <div class="fh5co-name" style="margin-bottom:0px !important;">
                                    <img src="~/Content/img/Index/full_2.jpg" alt="">                            
                                <div class="fh5co-meta">
                                    <h3>@Model.Name</h3>
                                    <h3>@Model.Topic</h3>
                                    <span class="fh5co-company">Fecha de consulta: @Model.SendDate</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fh5co-text">
                                <p style="font-family:Merriweather, Times, serif !important; color:#cccccc !important;"><u>Consulta:</u></p>
                                <p style="font-family:Merriweather, Times, serif !important; color:#cccccc !important;">&ldquo;@Model.Query&rdquo;</p>
                                <p style="font-family:Merriweather, Times, serif !important; color:#cccccc !important;"><u>Respuesta:</u></p>
                                <div class="col-md-12">
                                    <textarea class="form-control text-box multi-line center-block" id="Answer" name="Answer" rows="5" cols="60" style="margin:10px 10px 10px 10px !important; max-width:none !important;"></textarea>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Answer" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="submit" value="Contestar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
}