@using KnxProject_Franco.CONTRACTS.Entities
@model KnxProject_Franco.CONTRACTS.Entities.NewsModel

@{
    ViewBag.Title = "Create";
}

<h2>Crear noticia</h2>

@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NewsModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDCourtBranch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="IDCourtBranch" name="IDCourtBranch">
                    @foreach (var x in ViewBag.CourtBranches)
                    {
                        <option value=@x.Value>@x.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.IDCourtBranch, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LetterHead, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LetterHead, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LetterHead, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDScope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="IDScope" name="IDScope">
                    @foreach (var x in ViewBag.Scopes)
                    {
                        <option value=@x.Value>@x.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.IDScope, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            <label class="description" for="Image">Selecciona una imagen</label>
            <div>
                <input type="file" id="imgElem" multiple accept="image/*" style="display:none" onchange="handleFiles(this.files)">

                <a id="imgSelect">Elije algunas imágenes para la noticia</a>
                <div id="image">
                    <p>¡Aún no has seleccionado una imagen!</p>
                </div>
            </div>
        </div>*@

        

        nameinput idImage" <="="Image" type="file" accept="image/jpeg" /> 
        <img src="" id="img"/>
        <div id="res"></div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/News/Create.js")}
