@model IEnumerable<KnxProject_Franco.CONTRACTS.Entities.CourtCaseDetailModel>

@{
    ViewBag.Title = "Index";
}
@if (WebSecurity.IsAuthenticated)
{
    <h2>
        @foreach (var _case in ViewBag.CourtCases)
    {
        if (_case.IDCourtCase == ViewBag.IdCase)
        {
            @_case.Name
        }
    }
</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDState)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @foreach (var state in ViewBag.States)
                    {
                        if (state.IDState == item.IDState)
                        {
                            @state.Description
                        }
                    }
                </td>
                <td>
                    @if (Roles.IsUserInRole("admin"))
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.IDCourtCaseDetail })
                        @Html.ActionLink("Detalles", "Details", new { id = item.IDCourtCaseDetail })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IDCourtCaseDetail })
                    }
                    else
                    {
                        if (Roles.IsUserInRole("client"))
                        {
                            @Html.ActionLink("Detalles", "Details", new { id = item.IDCourtCaseDetail })
                            @Html.ActionLink("Consultar", "Create","Query", new { id = item.IDCourtCaseDetail },null)
                        }
                    }
                </td>
            </tr>
        }

    </table>
}

